<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<clear />
		<add key="FilePath" value="c:\\users\\cjansen\\bin\\todo.txt" />
		<add key="CurrentSort" value="" />
		<add key="CurrentGrouping" value="" />
		<add key="FilterText" value="" />
		<add key="ArchiveFilePath" value="c:\\users\\cjansen\\bin\\done.txt" />
		<add key="AutoArchive" value="" />
		<add key="AutoRefresh" value="" />
		<add key="FilterCaseSensitive" value="" />
		<add key="FirstRun" value="" />
		<add key="AddCreationDate" value="true" />
		<add key="DebugLoggingOn" value="true" />
	</appSettings>
</configuration>