<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<clear />
		<add key="FilePath" value="C:\\Users\\fpd-yoga-user2\\Dropbox\\todo.txt" />
		<add key="CurrentSort" value="" />
		<add key="CurrentGrouping" value="Project" />
		<add key="FilterText" value="" />
		<add key="ArchiveFilePath" value="C:\\Users\\fpd-yoga-user2\\Dropbox\\done.txt" />
		<add key="AddCreationDate" value="true" />
		<add key="DebugLoggingOn" value="true" />
	</appSettings>
</configuration>